$primary: #6200ee !default;
$secondary: #018786 !default;
$background: white !default;
$on_surface: black !default;
$on_primary: white !default;
$on_secondary: $on_primary !default;
$font: Roboto, sans-serif !default;

$page_bg: $background !default;
$page_fg: $on_surface !default;
