$mdc-theme-primary: #cc6801 !default; 
$mdc-theme-on-primary: if(contrast-tone($mdc-theme-primary) == "dark", #000, #fff) !default;

// The $mdc-theme-secondary* variables should be used for all new projects.
$mdc-theme-secondary: #018786 !default; // baseline teal, 600 tone
// $mdc-theme-accent: $mdc-theme-secondary !default;
$mdc-theme-on-secondary: if(contrast-tone($mdc-theme-secondary) == "dark", #000, #fff) !default;

$mdc-theme-background: #eee !default; // Light gray

$mdc-theme-surface: #f8f8f8 !default; // Off-white
$mdc-theme-on-surface: if(contrast-tone($mdc-theme-surface) == "dark", #000, #fff) !default;

//
// Text colors according to light vs dark and text type.
//

$mdc-theme-text-colors: (
  dark: (
    primary: rgba(black, .87),
    secondary: rgba(black, .54),
    hint: rgba(black, .38),
    disabled: rgba(black, .38),
    icon: rgba(black, .38)
  ),
  light: (
    primary: white,
    secondary: rgba(white, .7),
    hint: rgba(white, .5),
    disabled: rgba(white, .5),
    icon: rgba(white, .5)
  )
) !default;
